/* AddTodoForm.css */
.add-form {
  margin-top: 1rem;
  display: flex;
}

.add-input {
  flex-grow: 1;
  padding: 0.5rem 0.75rem;
  border: none;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  font-size: 0.875rem;
  transition: background-color 0.3s, color 0.3s;
}

.add-input.light {
  background-color: white;
  color: #1f2937;
}

.add-input.dark {
  background-color: #374151;
  color: white;
}

.add-input:focus {
  outline: none;
}

.add-button {
  padding: 0.5rem 1rem;
  background-color: #10b981;
  color: white;
  border: none;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #059669;
}
